<div th:fragment="topnav">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">Wigells</a>
    <div class="container-sm">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Bilfan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">test</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cars">Cars</a>
          </li>
        </ul>
    </div>
  </nav>
</div>